<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Película
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar película" 
                animated
                debounce="700"
                [value]="textoBuscar"
                (ionChange)="buscar( $event )"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-list-header>
    <ion-label>Sugerencias</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let peliculaNombre of peliculasNuevas" (click)="textoBuscar = peliculaNombre.original_title">
      <ion-label color="primary"> {{ peliculaNombre.original_title}}  </ion-label>
    </ion-item>    
  </ion-list>


</ion-content>
