<app-header titulo="Card"></app-header>


<ion-content>
 
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin" color="warning"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit commodi possimus molestias, voluptatem recusandae nostrum expedita dolores earum sed natus vero ipsa unde consectetur mollitia soluta veniam tenetur quod voluptatum.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto in dolores facere consequatur earum. Pariatur error optio, blanditiis libero consequatur sed voluptatum, omnis, temporibus tenetur odit iure sequi atque vero!
    </ion-card-content>

  </ion-card>


</ion-content>
