.slide-image {
    width: 100px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    
}

ion-slides, ion-slide {
    width: 100%;
    height: 100%;
}

